<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <footer>
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-github"></i>
            </div>
            <div class="f-info-brand"  >
              &copy;  Wanderlust Private Limited
            </div>
            <div class="f-info-links">
                <a href="privacy">Privacy</a>
                <a href="terms">Terms</a>
            </div>
        </div>
    </footer>
</body>
</html>