<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav nav-main">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <% if(owner){ %>
          <a class="nav-link" href="/listings/new">Add new Listing</a>
        <% } %>
        <form class="d-flex" role="search" action="/listings/search" method="POST">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search"  >
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto nav-main1">
        <% if(!isLoggedIn) {%>
          <a class="nav-link" href="/listings"><i class="fa-solid fa-globe"></i></a>
        <a class="nav-link" aria-current="page" href="/signup">SignUp</a>
        <a class="nav-link "  href="/login">Log In</a>
        <% } %> 
        <% if(isLoggedIn) {%>
          <a class="nav-link" href="/listings"><i class="fa-solid fa-globe"></i></a>
          <a class="nav-link" href="/listings/myorders">My Orders</a>
          <a class="nav-link" href="/listings/cart"><i class="fa-solid fa-cart-shopping"> </i></a>
          <a href="/listings/info/users/<%= userId %>" class="nav-link"><i class="fa-solid fa-user"></i><%= userName %> </a>
        <a class="nav-link" href="/logout">Log Out</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
