body{
    /* background-color: pink; */
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    .container{
      flex: 1; 
    }
    .poppins-thin {
        font-family: "Poppins", sans-serif !important;
        font-weight: 100 !important;
        font-style: normal !important ;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif !important;
        font-weight: 200;
        font-style: normal !important;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif !important;
        font-weight: 300;
        font-style: normal !important;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif !important;
        font-weight: 400;
        font-style: normal !important;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal !important;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal !important;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
}
.navbar{
    height: 5rem; 
    background-color: white; 
}
.fa-compass{
    color: #fe424d; 
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none; 
    color: #222222;
}
.f-info-socials,.f-info-links , .f-info-brand{
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center; 
    align-items: center;
   
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    height: 8rem;
    display: flex; 
    background-color:#ebebeb ;
    flex-wrap : wrap  ; 
    justify-content: center; 
    align-items: space-evenly;
}

/*Cards */ 
.listing-card{
    border: none !important; 
    margin-bottom: 2rem; 
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important; 
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400; 
}

.listing-link{
  text-decoration: none;
  color: #222222;
}
/* Card Effect */
.card-img-overlay{
  opacity : 0 ; 
}
.card-img-overlay:hover{
  opacity : 0.2 ; 
  background-color: white;
}
.add-btn{
  border: none;
}
/* Show Page */ 
.show-img{
  height: 30vh; 
}
.btns{
  display: flex ; 
}
.show-card{
  padding-left: 0; 
  padding-right: 0; 
}
.main-div{
  margin-top: 2rem;
  display: flex; 
  flex-direction: column  ; 
  justify-content: center; 
  align-items: center; 
}
.inner-div{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.divide
{
  margin-top: 3rem;
  display: flex; 
  flex-direction: column;
  gap: 1rem;
}

.cart-comp{
  display: flex; 
  gap: 1rem;
}
.cart-comp a{
  font-size: 1.4rem;
}
.listing-card-cart{
  display: flex; 
  flex-direction: column;
}
.main-cart
{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
}

.order-cart{
  display: flex;
  flex-direction: column;
}
.order-cart img{
  height: 18rem !important;
  width: 22rem !important;
}
.nav-main{
  display: flex !important; 
  gap: 2rem !important; 
  justify-content: center !important; 
  align-items: center !important;
}
.nav-main form{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 1rem;
}
.nav-main1{
  display: flex !important; 
  gap: 1rem !important; 
  justify-content: center !important; 
  align-items: center !important;
}